{% include "head.html" %}

<div class="text-center h1 mt-5"><b>Welcome To Agriculture</b></div>

<style>
    body{
     background-image:url("https://imgs.search.brave.com/6Wa5CaNvvCuyFYRhh99h4kZFWYmXNBhj0tOH7wxpZHQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTgy/NDkzMDE2L3Bob3Rv/L3NreS1hbmQtZ3Jh/c3MtYmFja3JvdW5k/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz11OUhrOTNNUGJY/cWpPVFRFRk5HTXE3/SkpKNDZIREJsbnFp/RzdkdnJidTl3PQ");
     background-size:cover;
     background-repeat:no-repeat;

    }
</style>

<body>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div class="content mt-15" style="font-size:30px">
        "Modern agricultural machinery transforms farming into an efficient, sustainable, and precision-driven industry."</div>
    </div>
    <div class="col-md-2"></div>
</div>
</body>